@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
.container{
    position: relative;
}
.total::after{clear:both; content:""; display: block;}
.leftSlide{
    position: absolute;
    top: 80px;
    left: 0px;
    float: left;
    background-color:#DDD;
}
.leftSlide > h2{margin-top: 10px;text-align: center;}
.left-menu { transition: all 0.25s; } 
.left-menu-enter-active { transition: all 0.25s ease;} 
.left-menu-leave-active { transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1); } 
.left-menu-enter, .left-menu-leave-active { opacity: 0; transform: translateX(-100%); }
.contents{
    margin: 5%;
    background-color:black;
}
.introduceMe{
    margin: 14px 0px;
    float: left;
    text-align: center;
    border-right: 1px solid #D5D5D5;
}
.introduceMe > p{
    font-size: 20px;
}
#intro{
    font-size: 15px;
}
.menuIcon{
    font-size: 25px;
    margin: 5% 12%;
    text-align: left;
    cursor: pointer;
}
h2{margin-top:50%}
.clickMap{
    float: left;
}
#map{
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 70px;
}
