@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
.container-fluid{
    width:100vw;
    height:100vh;
    position: relative;
    
}
.container::after{clear:both; content:""; display: block;}
.leftSlide{
    width:100%;
    float: left;
    background-color:#DDD;
}
.leftSlide > h2{margin-top: 10px;text-align: center;}
.left-menu { transition: all 0.25s; } 
.left-menu-enter-active { transition: all 0.25s ease;} 
.left-menu-leave-active { transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1); } 
.left-menu-enter, .left-menu-leave-active { opacity: 0; transform: translateX(-100%); }
.contents{
    margin: 5%;
    background-color:black;
}
.introduceMe{
    margin: 14px 0px !important;
    float: left;
    text-align: center;
    border-right: 1px solid #D5D5D5;
}
.introduceMe > h5{
    margin-left: 25%;
    margin-top: 100%;
    text-align: left;
}
.introduceMe > p{
    
    font-size: 20px;
}
#intro{
    margin-top:100%;
    font-size: 15px;
}
.menuIcon{
    font-size: 25px;
    margin: 10% 85% 10% 10%;
    text-align: left;
}
#mainMenuIcon{
    cursor: pointer;
}
h2{margin-top:50%}
.clickMap{
    float: left;
}
#map{
    width:90%;
    height:90%;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 70px;
}
