@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
.container-fluid{
    width:100vw;
    height:100vh;
    position: relative;
}
.container::after{clear:both; content:""; display: block;}
.rightSlide{
    width:100%;
    margin-top: 25%;
    float: left;
    display: none;
}
.rightSlide > h2{margin-top: 10px;text-align: center;}
.contents{
    margin: 5%;
}
.placeImg{
    border: 2px double gray;
    border-radius: 20%;
}
.introduceMe{
    margin: 14px 0px !important;
    float: right;
    text-align: center;
    border-left: 1px solid #D5D5D5;
    position: relative;
}
.introContents{
    margin-top: 25%;
}
.introContents > p{
    font-size: 20px;
}
#intro{
    margin-top:100%;
    font-size: 15px;
}
.menuIcon{
    font-size: 25px;
    margin: 10% 85% 10% 10%;
    text-align: left;
}
#mainMenuIcon{
    cursor: pointer;
}
h2{margin-top:50%}
.clickMap{
    float: right;
}
#map{
    width:90%;
    height:90%;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 70px;
}
.contents{
    height:500px;
    overflow: scroll;
}
.placeImg{
    width: 50%;
}
